services:
  openvpn-as:
    image: openvpn/openvpn-as
    devices:
      - /dev/net/tun
    cap_add:
      - MKNOD
      - NET_ADMIN
    ports:
      - "943:943"
      - "443:443"
      - "1194:1194/udp"
    volumes:
      - openvpn-data:/openvpn
    restart: unless-stopped

volumes:
  openvpn-data:
